@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato-Bold.ttf"),
  url("./fonts/Lato-BoldItalic.ttf"),
  url("./fonts/Lato-Italic.ttf"),
  url("./fonts/Lato-Regular.ttf")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
}